/********

	BEGIN CSS3 MEDIA QUERIES FOR RESPONSIVE STYLING
	
	If not overridden, default styling and mobile styling take precedent
	Styling inheritance can be overriden by adding another id or class selector
	to add weight to css styling statement. 

*********/



/* ---- MOBILE DEVICES ---- */ 

@media screen and (min-width: 0px) { 

	/* ---- NAVIGATION BAR --- */ 
	
	#fadeandscale {
	  transform: scale(0.8);
	}
	
	div#context-menu-popover{
		zindex: 100;
		visibility: hidden;'
		
	}
	.popup_visible #fadeandscale {
	  transform: scale(1);
	}

	#nav-logo { padding-right: 15px; }
	#wrx-name { visibility: hidden; }
	#app-area {
	 	width: 95%; 
	 	margin: 0 auto; 
	 }
	 
	 
	 /** ---- TABLE STYLING **/ 
	 
	 #toolbar
	 {
	 	display: inline; 
	 }
	 #auto-refresh-label{ 
	 	padding-left:	10px; 
	 	padding-right: 10px; 
	 }
	 #auto-refresh-container{
	 	
	 }
	 #toolbar-buttons{
	 }
	 #toolbar-filter{
	 }

	/* ---- LOGIN PAGE ---- */ 	

	.login-logo 
	{ 
		margin: 0 auto;  
		display: block; 
		padding-bottom: 10px; 
	}
	
	.login-body
	{
		background-color: #333; 
	}
	

	.form-signin
	{
	    max-width: 330px;
	    padding: 15px;
	    margin: 0 auto;
	}
	.form-signin .form-signin-heading, .form-signin .checkbox
	{
	    margin-bottom: 10px;
	}
	.form-signin .checkbox
	{
	    font-weight: normal;
	}
	.form-signin .form-control
	{
	    position: relative;
	    font-size: 16px;
	    height: auto;
	    padding: 10px;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}
	.form-signin .form-control:focus
	{
	    z-index: 2;
	}
	.form-signin input[type="text"]
	{
	    margin-bottom: -1px;
	    border-bottom-left-radius: 0;
	    border-bottom-right-radius: 0;
	}
	.form-signin input[type="password"]
	{
	    margin-bottom: 10px;
	    border-top-left-radius: 0;
	    border-top-right-radius: 0;
	}
	.login-card
	{
	    margin-top: 20px;
	    padding: 40px 0px 20px 0px;
	    background-color: #f7f7f7;
	    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	}

	.profile-img
	{
	    width: 96px;
	    height: 96px;
	    margin: 0 auto 10px;
	    display: block;
	    -moz-border-radius: 50%;
	    -webkit-border-radius: 50%;
	    border-radius: 50%;
	}
	
	.top-buffer-20 { margin-top:20px; }
	.top-buffer-30 { margin-top:30px; }
	.top-buffer-40 { margin-top:40px; }
	
	.resp-iframe-wrapper         {width:80%;height:100%;margin:0 auto;background:#CCC}
	.resp-iframe        {position:relative;}
	.resp-iframe .ratio {display:block;width:100%;height:auto;}

	.resp-iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}
	/* ---- END LOGIN PAGE ---- */ 


}

/* ---- #END MOBILE DEVICES ---- */ 






/* ---- TABLET DEVICES ---- */ 

@media screen and (min-width: 768px) { 
	
	#wrx-name { visibility: visible; }
}
	
}

/* ---- END TABLET DEVICES ---- */ 







/* ---- LARGE SCREEN DEVICES ---- */ 

@media screen and (min-width: 1024px) { 
	
	
	
}

/* ---- LARGE SCREEN DEVICES ---- */ 


/* Body and structure
-------------------------------------------------- */

body {
    position: relative;
    margin: 10px 12px; 
    height:100%; 
    background-color: #606780 !important; 
}

#loading
{
	position: absolute;
	left: 10px; 
	top: 10px; 
	z-index: 10; 
}

#user-preferences-div{
	margin-top: 15px; 
}


.pad-10-top{
	padding-top:10px;
}

.pad-20-top{
	padding-top:20px;
}

.pad-20-top{
	padding-top:30px;
}

#release-load-modal {
	top:20%;
	outline: none;
}

#favorites a:link {
	color:#444;
}

#favorites a:visited {
	color:#444;
}

/************************
*		FORMs
************************/
.form-control[readonly]{
	background-color: #616161! important; 
	color: #fafafe! important;
}
.form-control {
	border-color: #262937 !important;
}
.form-control:focus{
	-webkit-box-shadow: 0px 0px 14px 0px rgba(245,147,0,1) !important;
	-moz-box-shadow: 0px 0px 14px 0px rgba(245,147,0,1) !important;
	box-shadow: 0px 0px 14px 0px rgba(245,147,0,1) !important;
}
.nav > li  { 
	background-color: #444a62 !important;
	color: #eee !important; 
	background-image:linear-gradient(to bottom, #101011 0%, #000 70%) !important;
}
.form-control[disabled]{
	background-color: #616161! important; 
	color: #0ce600! important;
}

.nav-tabs > li.active > a {
	background-color: #1c1b1d !important;
	background-image:linear-gradient(to bottom, #444a62 0%, #101011 100%) !important;
	color: #eee !important; 
	border-bottom-width:0px !important;
}

a.light-link{
	color: #e0e2ed !important;
}
.input-group-addon {
	background-color: #444a62 !important;
	background-image:linear-gradient(to bottom, #444a62 0%, #262937 100%) !important;
	color: #eee !important;
	border-color: #262937 !important;
}

.tab-pane {
	background-color: #101011 !important;
	padding: 10px;  
	border-radius: 0px 10px 10px 10px !important;
}
.tab-pane.active{
	-webkit-box-shadow: 10px 10px 27px -7px rgba(0,0,0,0.71) !important;
	-moz-box-shadow: 10px 10px 27px -7px rgba(0,0,0,0.71) !important;
	box-shadow: 10px 10px 27px -7px rgba(0,0,0,0.71) !important;
}

.list-group-item{
	background-color: #1c1b1d !important;
	background-image:linear-gradient(to bottom, #444a62 0%, #101011 100%) !important;
}
/***************************************
*			TABLEs
***************************************/
table {
	background-image:linear-gradient(to bottom, #615D5D 0%, #040505 100%) ;
}
table.dataTable tbody tr.stripe1 {
   background-color: #363636;
}
table.dataTable tbody tr.stripe2 {
    background-color: #1c1b1d;
    border-bottom: solid rgb(43, 44, 45);
}
.table-bordered > tbody > tr > td{
	border-color: rgb(43, 44, 45) !important; 
}
.table-bordered > thead > tr > th{
	border-color: rgb(43, 44, 45) !important; 
}
.table-bordered > tfoot > tr > th{
	border-color: rgb(43, 44, 45) !important; 
}
.table-bordered {
	border-color: rgb(43, 44, 45) !important; 
}
table.dataTable tbody > tr.selected {
	background-image:linear-gradient(to bottom,  rgb(183, 80, 1) 0%, rgb(224, 114, 4) 70%) !important;

}
.table-striped > tbody > tr:nth-of-type(2n+1) { /*** Odd numbered rows in nondatatable table ***/ 
	background-color: #1c1b1d;
    border-bottom: solid rgb(43, 44, 45);
}
.table-striped > tbody > tr:nth-of-type(2n) { /*** Odd numbered rows in nondatatable table ***/ 
	background-color: #363636;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #3a3b3d ;
}
.table-hover > tbody > tr:hover {
  background-color: #3a3b3d ;
}

/************************************
**			BUTTONs
************************************/

.btn-default {
  color: #000000 !important;
  background-image: linear-gradient(to bottom, #e5e5e5 0%, #b8b8b8 100%) !important;
  background-repeat: repeat-x;
  border-color: #ddd !important;
}
.btn-huge{
    padding-top:20px;
    padding-bottom:20px;
}
.btn-default[disabled]{
	color: #616161 !important;
}

/*******************************
*		Panels
******************************/
.panel{
	background-color: #1c1b1d !important;
}
.shadowed{
	-webkit-box-shadow: 10px 10px 27px -7px rgba(0,0,0,0.71) !important;
	-moz-box-shadow: 10px 10px 27px -7px rgba(0,0,0,0.71) !important;
	box-shadow: 10px 10px 27px -7px rgba(0,0,0,0.71) !important;
}
.panel-default {
  border-color: #504f4f !important;
  color: #eeeeee !important;
  -webkit-box-shadow: 10px 10px 27px -7px rgba(0,0,0,0.71) !important;
	-moz-box-shadow: 10px 10px 27px -7px rgba(0,0,0,0.71) !important;
	box-shadow: 10px 10px 27px -7px rgba(0,0,0,0.71) !important;
}
.panel-default > .panel-heading {
  color: #eeeeee !important;
  background-color: #101011 !important; 
  border-color: #464d62 !important;
}
.panel-default > .panel-heading {
  color: #eeeeee !important;
  background-color: #101011 !important; 
  border-color: #464d62 !important;
}
.panel-footer{
	-webkit-box-shadow: 10px 10px 27px -7px rgba(0,0,0,0.71) !important;
	-moz-box-shadow: 10px 10px 27px -7px rgba(0,0,0,0.71) !important;
	box-shadow: 10px 10px 27px -7px rgba(0,0,0,0.71) !important;
	background-color: #101011 !important; 
	
}
.panel-body{
	-webkit-box-shadow: 10px 10px 27px -7px rgba(0,0,0,0.71) !important;
	-moz-box-shadow: 10px 10px 27px -7px rgba(0,0,0,0.71) !important;
	box-shadow: 10px 10px 27px -7px rgba(0,0,0,0.71) !important;
}
.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #4f4f54 0%, #212020 100%);
  background-image:      -o-linear-gradient(top, #4f4f54 0%, #212020 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4f4f54), to(#212020));
  background-image:         linear-gradient(to bottom, #4f4f54 0%, #212020 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4f4f54', endColorstr='#ff212020', GradientType=0);
  background-repeat: repeat-x;
  border-color:#4f4f54;
  color: #fefefe;
}
.nav-tabs {
	border-bottom-color: transparent !important; 
}

/*********************
* HOE App Frame Theming
**********************/
.profile-box{
	background-image:linear-gradient(to bottom,  #595f77 0%, #101011 70%) !important;
}
.dropdown-menu{
	background-color: #101011!important; 
	color: #fff !important; 
	border-color: transparent; 
}
.hoe-right-header .hoe-rheader-submenu > .dropdown-menu > li > a {
	color: #fff !important; 
}
#hoeapp-container[hoe-color-type="lpanel-bg8"] #hoe-left-panel .panel-list li.hoe-has-menu > ul.hoe-sub-menu li > a:hover {
	background-image:linear-gradient(to bottom,  rgb(183, 80, 1) 0%, rgb(224, 114, 4) 70%) !important;
}
.hoe-right-header li a:hover {
	background-image:linear-gradient(to bottom, #101011 60%, #4E5059 100%) !important;
}

.hoe-right-header li a:visited {
	background-image:linear-gradient(to bottom, #101011 60%, #4E5059 100%) !important;
}

a.dropdown-toggle[aria-expanded="true"] {
	background-image:linear-gradient(to bottom, #4E5059 60%, #101011 100%) !important;
}
#hoeapp-wrapper {
    background: #606780 !important;
    color: #eeeeee !important;
}
.nav > li > a:hover{
	background: #101011 !important; 
}

#hoe-header {
    background: #101011 none repeat scroll 0 0 !important;
}
.hoe-right-header {
    background: #101011 none repeat scroll 0 0 !important;
}
.hoe-right-header .hoe-rheader-submenu > .dropdown-menu > li {
	border-bottom-width: 0px !important; 
	border-bottom-color: transparent !important; 
}
.content-title {
    border-bottom: 1px solid #3f3f3f !important;
    border-top: 1px solid #3f3f3f !important;
}
.feature-box {
	background-image:linear-gradient(to bottom, #e5e5e5 0%, #b8b8b8 100%) !important;
    background-repeat: repeat-x;
}
.feature-box:hover {
	 background-image:linear-gradient(to bottom, #121517 0%, #303030 100%) !important;
}
#theme-color a[hoe-color-type="lpanel-bg8"] {
    background: #101011 !important;
}

#hoe-header[hoe-color-type="logo-bg8"] .hoe-left-header { 
    background: #101011 !important;
}
#hoeapp-container[hoe-color-type="lpanel-bg8"].hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu.opened > a {
    background: #384b5f !important;
}
#hoeapp-container[hoe-color-type="lpanel-bg8"].hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu.opened > a:hover {
    background: #2c3e50 !important;
}
#hoeapp-container[hoe-color-type="lpanel-bg8"].hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu:hover > ul.hoe-sub-menu,
#hoeapp-container[hoe-color-type="lpanel-bg8"].hoe-minimized-lpanel #hoe-left-panel .panel-list > li.hoe-has-menu:focus > ul.hoe-sub-menu {
    border-right: 1px solid #455769 !important;
}

#hoeapp-container[hoe-color-type="lpanel-bg8"] #hoe-left-panel .nav-level {
    border-top: 1px solid #455769 !important;
}
#hoeapp-container[hoe-color-type="lpanel-bg8"] #hoe-left-panel .nav-level:first-child {
    border-top: 0px solid #455769 !important;
}
#hoeapp-container[hoe-color-type="lpanel-bg8"].hoe-minimized-lpanel #hoe-left-panel {
    background: #101011 !important;
}
#hoeapp-container[hoe-color-type="lpanel-bg8"] #hoe-left-panel .panel-list > li > a:hover,
#hoeapp-container[hoe-color-type="lpanel-bg8"] #hoe-left-panel .panel-list > li > a:focus {
    background: #101011 !important;
}
#hoeapp-container[hoe-color-type="lpanel-bg8"] #hoe-left-panel .panel-list > li.active > a {
    background: #101011 !important;
    color: #eeeeee !important;
}
#hoeapp-container[hoe-color-type="lpanel-bg8"] #hoe-left-panel .panel-list > li.hoe-has-menu.opened > a {
    background: #101011 !important;
}
#hoeapp-container[hoe-color-type="lpanel-bg8"] #hoe-left-panel .panel-list ul {
    background: #3d4256 !important;
}
#hoeapp-container[hoe-color-type="lpanel-bg8"] #hoe-left-panel .panel-list ul.hoe-sub-menu li > a {
    background: #2d3140 !important;
}
#hoeapp-container[hoe-color-type="lpanel-bg8"] #hoe-left-panel .profile-box .media a > img {
    border: 1px solid #2b2f3c !important;
}
#hoeapp-container[hoe-color-type="lpanel-bg8"] #hoe-left-panel .panel-list > li > a {
    background: #101011 !important;
    border-top: 1px solid #313646 !important;
    color: #E4E4E5 !important;
	border-right: 1px solid #2b2f3c !important;
}
#hoeapp-container[hoe-color-type="lpanel-bg8"] #hoe-left-panel .panel-list > li:last-child > a {
    border-bottom: 1px solid #2b2f3c !important;
}
#hoeapp-container[hoe-color-type="lpanel-bg8"] #hoe-left-panel {
    background: #101011 none repeat scroll 0 0 !important;
    color: #E4E4E5 !important;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2) !important;
}
#hoeapp-container[hoe-color-type="lpanel-bg8"] #hoe-left-panel .profile-box {
    border-bottom: 1px solid #101011 !important;
}
/******************
*	ALERT Themes
*******************/
.alert-info{
	background-color: rgb(49, 112, 143) !important; 
	color: #ffffff !important; 
	background-image: linear-gradient(rgb(15, 47, 63) 0%, rgb(32, 77, 99) 100%); 
	border-color: transparent !important;
	-webkit-box-shadow: -5px 5px 29px 0px rgba(0,0,0,0.61);
	-moz-box-shadow: -5px 5px 29px 0px rgba(0,0,0,0.61);
	box-shadow: -5px 5px 29px 0px rgba(0,0,0,0.61);
}
.alert-success{
	background-color: rgb(49, 112, 143) !important; 
	color: #ffffff !important;
	background-image: linear-gradient(rgb(44, 81, 44) 1%, rgb(89, 165, 89)  100%); 
	border-color: transparent !important;
	-webkit-box-shadow: -5px 5px 29px 0px rgba(0,0,0,0.61);
	-moz-box-shadow: -5px 5px 29px 0px rgba(0,0,0,0.61);
	box-shadow: -5px 5px 29px 0px rgba(0,0,0,0.61);
}
.alert-danger{
	background-color: rgb(130, 4, 2) !important; 
	color:  #ffffff !important;
	background-image: linear-gradient(rgb(130, 4, 2) 0%, rgb(198, 7, 3) 100%); 
	border-color: transparent !important;
	-webkit-box-shadow: -5px 5px 29px 0px rgba(0,0,0,0.61);
	-moz-box-shadow: -5px 5px 29px 0px rgba(0,0,0,0.61);
	box-shadow: -5px 5px 29px 0px rgba(0,0,0,0.61);
}
/*********************
*  Modal Theme
**********************/
.modal-content{
	background-color: #101011 !important; 
	background-image: -webkit-linear-gradient(top, #4f4f54 0%, #212020 100%);
 	background-image:      -o-linear-gradient(top, #4f4f54 0%, #212020 100%);
  	background-image: -webkit-gradient(linear, left top, left bottom, from(#4f4f54), to(#212020));
  	background-image:         linear-gradient(to bottom, #4f4f54 0%, #212020 100%);
}
a > .dropdown-toggle > .light-link {
	background-color: #101011 !important; 
}
/*************************
*		FONT AWESOME ICONS
**************************/
#info-notification-icon.fa.fa-exclamation{
	color: orange !important; 
}
#success-notification-icon.fa.fa-check-circle{
	color: green !important; 
}
#error-notification-icon.fa.fa-times{
	color: red !important; 
}
/***
* DEBUG MESSAGE FLYOUT
****/ 
#styleSelector{
	color: white !important; 
	background-color: transparent !important;  
	border-color: rgba(0,0,0,0.1) !important; 
}
#styleSelector.open{
	color: white !important; 
	background-color: rgba(0,0,0,0.5) !important;  
	border-color: rgba(0,0,0,0.8) !important; 
}
@media (min-width: 992px) {
  .modal-content {
    width: 100%;
  }
}

.modal-body  {
 color: white !important;
}

.modal-body  {
 color: white !important;
}

.modal-body .btn {
	color: black !important; 
}

.modal-header {
	color: white !important; 
}

.modal-footer {
	background-color: #3f3f3f !important; 
	color: white !important;
}


/**
*		Regex Highlight colors
*/

.highlight-cell-background-failure{
	color: white !important; 
	/* background-color: red !important;  */
	background-image:linear-gradient(to bottom,  rgb(204, 0, 0) 0%, rgb(128, 0, 0) 70%) !important;
}

.highlight-cell-background-success{
	color: white !important; 
	/* background-color: green !important;  */
	background-image:linear-gradient(to bottom, rgb(0, 102, 0) 0%, rgb(0, 51, 0) 70%) !important;
}

.highlight-cell-background-warning{
	color: white !important; 
	background-color: orange !important; 
}

.highlight-cell-background-info{
	color: white !important; 
	background-color: blue !important; 
}

.highlight-cell-background-failure > td{
	border-top: 2px outset rgb(160, 0, 0) !important; 
	border-bottom: 2px outset rgb(160, 0, 0) !important; 
	border-left: none !important; 
	border-right: none !important; 
}

.highlight-cell-background-success > td{
	border-top: 2px outset rgb(0, 60, 0) !important; 
	border-bottom: 2px outset rgb(0, 60, 0) !important; 
	border-left: none !important; 
	border-right: none !important; 
}

.highlight-cell-background-warning > td{
	border-top: 2px outset rgb(0, 60, 0) !important; 
	border-bottom: 2px outset rgb(0, 60, 0) !important; 
	border-left: none !important; 
	border-right: none !important; 
}
/** RECOVERY SCREEN
**/

#upper-selection-div{
	background-color: #232323 !important; 
}

.list-group-item{
	border:none !important; 
	 color:white !important; 
background: #393939  !important; /* Old browsers */

}

/*******
*			Interactive popups with JS handlers	
********/
.jconfirm.jconfirm-white .jconfirm-bg, .jconfirm.jconfirm-light .jconfirm-bg {

	background-color: #000000 ; 
	opacity: 0.4; 
	
}
.jconfirm .jconfirm-scrollpane{
	
	
}
.jconfirm .jconfirm-box{
	color: white; 
	background-color: #4b4e51 ; 
}
.jconfirm .jconfirm-box.loading{
}
.jconfirm .jconfirm-box.loading:before{
}
.jconfirm .jconfirm-box.loading:after{
}
.jconfirm .jconfirm-box .jconfirm-closeIcon{
}
.jconfirm .jconfirm-box .jconfirm-title-c{
}
.jconfirm .jconfirm-box .jconfirm-content-pane{
}
.jconfirm .jconfirm-box .jconfirm-content{
}
.jconfirm .jconfirm-box .jconfirm-buttons{
}
.jconfirm .jconfirm-box .jconfirm-buttons button{
}

/*************************************************
*		Equipment-monitor layout styling
***************************************************/
/** Upper tab area background **/
.panel-body.layout-body.panel-noscroll{
  background-color: #969baf !important;
  color: #666 !important;
}
/** Upper Tab background **/ 
ul.tabs- { 
  background-color: #111 !important; 
  color: #999 !important; 
	
}
.panel-body.panel-body-noheader.panel-body-noborder{
  background-color: #d6d9e0!important;
  color: #666 !important;
}
/** FUll west area & panel styling **/
div#west-area {
	 background-color: #23262e!important;
}
/**Background of equipment monitor status legend in west panel **/
div#west-legend-equipment {
	 background-color: #23262e!important;
}
/** Accordion header styling **/
div.panel-header.accordion-header{
	 background-color: #51586a!important;
	 color: #FFF !important; 
}
/** accordion header text styles **/
div.panel-header.accordion-header > .panel-title{
	 color: #FFF !important; 
}

div#equipment-layout > .panel-header{
	background-color:  #51586a!important;
	 color: #FFF !important; 
	 background-image: none !important; 
}

#east-area, #east-panel {
	background-color:  #23262e !important;
	 color: #FFF !important; 
	 background-image: none !important; 
}

 .panel-body {
	background-color:  #23262e !important;
	 color: #FFF !important; 
	 background-image: none !important; 
}

#center-area {
		background-color:  #51586a!important;
	 color: #FFF !important; 
	 background-image: none !important; 
}

.panel-header {
	 background-color:  #23262e !important;
	 color: #FFF !important; 
	 background-image: none !important; 
}

.dropdown-menu > li > a{
	color: #ffffff !important; 
}

.displayTracking, .equipmentDisconnected {
	color: #000000 !important; 
}