<?xml version="1.0"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <appSettings>    
    <add key="AirflowDeviceSimulatorFile" value="BCS Group\AAA/AirflowDeviceSimulator\AirflowDeviceSimulator.xml"/>
    <add key="AirflowDeviceSimulatorInstalled" value="BCS Group\AAA\AirflowDeviceSimulator\AirflowDeviceSimulatorInstalled.xml"/>
  </appSettings>
</configuration>
